.container {
  background-color: rgb(84, 63, 145);
  background: linear-gradient(
    180deg,
    rgba(84, 63, 145, 1) 10%,
    rgba(51, 41, 111, 1) 100%
  );
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  font-size: 24px;
}

.slug {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 2px;
  padding: 2px 16px;
  border-radius: 8px;
}

.container404 {
  font-size: 64px;
  margin-bottom: 24px;
}
